@code {
    private static readonly Uri BoostrapBasePath = new Uri("https://getbootstrap.com");

    [Parameter]
    public string? Href { get; set; } 

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string Url => new Uri(BoostrapBasePath, Href).ToString();
}
<a href=@Url title="See more at the official Bootstrap project site">@ChildContent</a>