@code {
    [Parameter]
    private string? Title { get; set; }

    [Parameter]
    private string? RelatedBootstrapDoc { get ; set;}

    [Parameter]
    private RenderFragment? ChildContent { get; set; }
}

<h1 id="content">@Title</h1>
<p class="lead">@ChildContent</p>
<p class="alert alert-secondary" role="alert">
    <em>All relevant examples to Boostrap.NET</em> and related text is based off of <a href=@("https://getbootstrap.com/docs/" + RelatedBootstrapDoc)>Bootstrap's own related documentation</a>.
    Read Bootstrap's documentation for more details on the inner workings of Bootstrap and other non Boostrap.NET options related to this section.
</p>
