<nav class="nav flex-column table-of-contents">
    <A class="nav-link" href="/docs/4.3/getting-started/introduction" Match="NavLinkMatch.Prefix" MatchUrl="/docs/4.3/getting-started">
        Getting started
        <A class="nav-link" href="/docs/4.3/getting-started/introduction">Introduction</A>
    </A>

    <A class="nav-link" href="/docs/4.3/layout/overview" Match="NavLinkMatch.Prefix" MatchUrl="/docs/4.3/layout">
        Layout
        <A class="nav-link" href="/docs/4.3/layout/overview">Overview</A>
        <A class="nav-link" href="/docs/4.3/layout/grid">Grid</A>
        <A class="nav-link" href="/docs/4.3/layout/utilities-for-layout">Utilities for layout</A>
    </A>

    <A class="nav-link" href="/docs/4.3/components/accordion" Match="NavLinkMatch.Prefix" MatchUrl="/docs/4.3/components">
        Components
        <A class="nav-link" href="/docs/4.3/components/accordion">Accordion</A>
        <A class="nav-link" href="/docs/4.3/components/alerts">Alerts</A>
        <A class="nav-link" href="/docs/4.3/components/badges">Badges</A>
        <A class="nav-link" href="/docs/4.3/components/breadcrumbs">Breadcrumbs</A>
        <A class="nav-link" href="/docs/4.3/components/buttons">Buttons</A>
        <A class="nav-link" href="/docs/4.3/components/button-group">Button group</A>
        <A class="nav-link" href="/docs/4.3/components/cards">Cards</A>
        <A class="nav-link" href="/docs/4.3/components/carousel">Carousel</A>
        <A class="nav-link" href="/docs/4.3/components/collapse">Collapse</A>
    </A>

    <A class="nav-link" href="/docs/4.3/utilities/colors" Match="NavLinkMatch.Prefix" MatchUrl="/docs/4.3/utilities">
        Utilities
        <A class="nav-link" href="/docs/4.3/utilities/colors">Colors</A>
        <A class="nav-link" href="/docs/4.3/utilities/spacing">Spacing</A>
    </A>
</nav>