@inherits ExampleCode

<div class="example @Class" id=@Id @ref="ExampleElement">
    @if (!ShowSourcesOnly)
    {
        <div class="output">
            <CascadingValue IsFixed="true" Value="this">
                @ExampleOutput
            </CascadingValue>
        </div>
    }
    <div class="card-group source-code">
        <div class="card fade">
            <div class="card-body">
                <pre><code class="language-html example-source">@ExampleSource</code></pre>
            </div>
            <div class="card-footer">
                <small class="text-muted"><em>Bootstrap.NET Razor code sample</em></small>
            </div>
        </div>
        <div class="card fade">
            <div class="card-body">
                <pre><code class="language-html example-html-output"></code></pre>
            </div>
            <div class="card-footer">
                <small class="text-muted"><em>Rendered HTML code</em></small>
            </div>
        </div>
    </div>
</div>