@inherits LayoutComponentBase
@inject IUriHelper UriHelper

<header>
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
        <A class="navbar-brand mb-0 h1" href="/" Match="NavLinkMatch.All">
            Bootstrap.NET
        </A>

        <div class="navbar">
            <div class="navbar-nav">
                <A class="nav-link" href="/" Match="NavLinkMatch.All">Home</A>
                <A class="nav-link" href="/docs/4.3/getting-started/introduction" Match="NavLinkMatch.Prefix" MatchUrl="/docs">Documentation</A>
            </div>
        </div>
    </nav>
</header>

<Container Fluid>
    <Row class="flex-xl-nowrap">
        <Column Span="12 | md-3 | xl-2">
            @if (UriHelper.GetAbsoluteUri() != @UriHelper.GetBaseUri())
            {
                <DocsMenu />
            }
        </Column>
        <Column Span="12 | md-9 | xl-8" Padding="vertical-md-3 | left-md-5">
            <main>
                @Body
            </main>
        </Column>
    </Row>
</Container>