@page "/"

@inject IPageVisibilityAPI pageVisibilityAPI

@implements IDisposable

@code {
    protected override void OnAfterRender()
    {
        pageVisibilityAPI.OnPageVisibilityChanged += PageVisibleChanged;
    }

    public void Dispose()
    {
        pageVisibilityAPI.OnPageVisibilityChanged -= PageVisibleChanged;
    }

    public void PageVisibleChanged(object sender, PageVisibilityChangedEventArgs args)
    {
        Console.WriteLine("PageVisibleChanged: " + args.IsPageVisible);
        IsVisisble = args.IsPageVisible;
    }

    public bool IsVisisble { get; set; } = true;
}
<h1>Visiblility TEST</h1>
<ul>
    <li>IsVisisble: @(IsVisisble)</li>
</ul>
<a href="/test">Test</a>