@page "/"


<Dropdown Text="Dropdown button" Color="secondary">
    <menu>
        <a href="#">Action</a>
        <a href="#">Another action</a>
        <a href="#">Something else here</a>
        <a href="#">Separated link</a>
        <button>asfdasdf</button>
    </menu>
</Dropdown>

<hr />

<Dropdown Text="Dropdown button 2" Color="secondary">
    <menu>
        <button>Action</button>
        <button>Another action</button>
        <button>Something else here</button>
    </menu>
</Dropdown>

<hr />

<Dropdown Color="secondary" Split>
    <a>Toggler</a>
    <menu>
        <button>Action</button>
        <button>Another action</button>
        <button>Something else here</button>
    </menu>
</Dropdown>

<hr />

<Dropdown Color="secondary" Visible=true Direction="up">
    <button>Togglerler</button>
    <menu>
        <button>Action</button>
        <button>Another action</button>
        <button>Something else here</button>
    </menu>
</Dropdown>