@page "/"
@code {
    public (string url, string alt, string text)[] Images { get; } = {
        ("https://picsum.photos/id/1/536/354", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque elit quis suscipit rhoncus. Nunc nec posuere elit. Proin et."),
        ("https://picsum.photos/id/20/536/354?grayscale", "Fusce a pretium", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ex mi, elementum nec interdum non, convallis quis sapie. Nam felis."),
        ("https://picsum.photos/id/30/536/354", "Aliquam eleifend arcu", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae metus venenatis, lacinia ex at, sodales lorem. Nullam eget venenatis."),
        ("https://picsum.photos/id/40/536/354?grayscale", "Curabitur mattis euismod", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere id lorem ut dapibus. Sed luctus vehicula ipsum ut porta."),
        ("https://picsum.photos/id/50/536/354", "Vivamus id pretium", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia, risus elementum molestie pharetra, nisl dui fermentum velit, sollicitudin semper."),
        ("https://picsum.photos/id/60/536/354?grayscale", "Phasellus eu volutpat", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu aliquet augue. Donec vitae elit rhoncus, faucibus est id, dapibus.")
    };

    Carousel<(string url, string alt, string text)> carousel;
}

<div class="form-group">
    <label for="exampleFormControlInput1">Change frame: </label>
    <input type="number" class="form-control" id="exampleFormControlInput1" 
           @onchange=@(x=> carousel.GoTo(x.Value)) value="0" />
</div>

<Container>
    <Row>
        <Column>
            <Carousel Items="@Images" Context="item" ShowControls ShowIndicators @ref="carousel" Ride>
                <img src=@item.url alt=@item.alt />
                <caption>@item.text</caption>
            </Carousel>
        </Column>
        <Column>
            <Carousel Animation="fade" Items="@Images" Context="item" ShowControls ShowIndicators Wrap="false">
                <img src=@item.url alt=@item.alt />
            </Carousel>
        </Column>
    </Row>
    <Row>
        <Column>
            <Carousel Animation="none" Items="@Images" Context="item" ShowControls ShowIndicators>
                <img src=@item.url alt=@item.alt />
            </Carousel>
        </Column>
        <Column>
            <Carousel TItem="CarouselStatic" ShowControls ShowIndicators>
                @foreach (var (url, alt, text) in Images)
                {
                    <CarouselItem><img src=@url alt=@alt /></CarouselItem>
                }
            </Carousel>
        </Column>
    </Row>
</Container>