@page "/"


<Dropdown Text="Dropdown button" Color="secondary">
    <menu>
        <a href="https://getbootstrap.com/docs/4.3/components/dropdowns/">Action</a>
        <a href="https://github.com/FezVrasta/popper.js">Another action</a>
        <a href="#">Something else here</a>
    </menu>
</Dropdown>