@page "/"

@code {
    Collapse c1;
}

<button Color="secondary" ToggleFor="c1,c2">
    Toggle for c1 and c2
</button>
<a AsButton Color="primary" ToggleFor="c1" class="text-white">
    Toggle for c1
</a>
<a AsButton Color="danger" class="text-white" @onclick=@(_ => c1.Toggle())>
    Indirect
</a>
<hr />
<Collapse id="c1" @ref=c1>
    <Card>
        <content>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</content>
    </Card>
</Collapse>
<hr />
<Collapse id="c2">
    <Card>
        <content>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</content>
    </Card>
</Collapse>
@*<Container>*@
@*<Row>
        <Column>
            <p>
                <a AsButton Color="primary" aria-expanded="false" aria-controls="collapseExample" @onclick=@(_=> c1.Expanded = !c1.Expanded)>
                    Link with href
                </a>
                <button Color="secondary" aria-expanded="false" aria-controls="collapseExample" @onclick=@(_=> c1.Expanded = !c1.Expanded)>
                    Button with data-target
                </button>
            </p>

            <Collapse @ref="c1">
                <Card>
                    <content>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</content>
                </Card>
            </Collapse>
        </Column>
        <Column>
            <Collapse @ref="c2">
                <Card>
                    <content>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</content>
                </Card>
            </Collapse>
            <hr />
            <p>
                <a AsButton Color="primary" aria-expanded="false" aria-controls="collapseExample" @onclick=@(_=> c2.Expanded = !c2.Expanded)>
                    Link with href
                </a>
                <button Color="secondary" aria-expanded="false" aria-controls="collapseExample" @onclick=@(_=> c2.Expanded = !c2.Expanded)>
                    Button with data-target
                </button>
            </p>
        </Column>
    </Row>*@
@*<Row>
        <Column Span="md-6">
            <p>
                <a AsButton Color="primary" ToggleFor="c3id, c4id" PreventDefaultOnClick href="https://code.org/" class="text-white">
                    Link with href
                </a>
                <button Color="secondary" ToggleFor="c3id">
                    Button with data-target
                </button>
            </p>
            <Collapse id="c3id">
                <Card>
                    <content>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</content>
                </Card>
            </Collapse>
        </Column>
        <Column>
            <Collapse id="c4id">
                <Card>
                    <content>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</content>
                </Card>
            </Collapse>
        </Column>
    </Row>*@

@*</Container>*@