@page "/"
@using static Egil.RazorComponents.Bootstrap.Utilities.Colors.OptionsFactory.LowerCase
@using Egil.RazorComponents.Bootstrap.Components.Common

@functions {
    private Alert _alert;

    protected override void OnAfterRender()
    {
        Console.WriteLine($"Parent: OnAfterRender");
        base.OnAfterRender();
    }

    private void AlertDismissing(UIDismissingEventArgs e)
    {
        Console.WriteLine($"Parent: ChildDismissing");
    }

    private void AlertDismissed()
    {
        Console.WriteLine($"Parent: ChildDismissed");
    }

    private async void EnableAlert()
    {
        if (_alert.Enabled)
        {
            await _alert.Dismiss();
        }
        else
        {
            _alert.Show();
        }
    }
}

<button onclick=@EnableAlert>Toggle Alert</button>
<hr />
<Alert Color="warning" ref="_alert" Id="a1" Dismissable="false">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</Alert>
<hr />
<Alert Color="primary" Id="a2">
    A simple primary alert—check it out!
</Alert>
<Alert Color="secondary">
    A simple secondary alert—check it out!
</Alert>
<Alert Color="success">
    A simple success alert—check it out!
</Alert>
<Alert Color="danger">
    A simple danger alert—check it out!
</Alert>
<Alert Color="warning">
    A simple warning alert—check it out!
</Alert>
<Alert Color="info">
    A simple info alert—check it out!
</Alert>
<Alert Color="light">
    A simple light alert—check it out!
</Alert>
<Alert Color="dark">
    A simple dark alert—check it out!
</Alert>
<hr />
<Alert Color="primary">
    A simple primary alert with <a href="#" IgnoreParentContext="true">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="secondary">
    A simple secondary alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="success">
    A simple success alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="danger">
    A simple danger alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="warning">
    A simple warning alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="info">
    A simple info alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="light">
    A simple light alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="dark">
    A simple dark alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<hr />
<Alert Color="primary">
    <h1>Well done!</h1>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</Alert>
<Alert Color="secondary">
    <h2>Well done!</h2>
</Alert>
<Alert Color="success">
    <h3>Well done!</h3>
</Alert>
<Alert Color="danger">
    <h4>Well done!</h4>
</Alert>
<Alert Color="warning">
    <h5>Well done!</h5>
</Alert>
<Alert Color="info">
    <h6>Well done!</h6>
</Alert>
<hr />