@page "/"
@using static Egil.RazorComponents.Bootstrap.Utilities.Colors.OptionsFactory.LowerCase
@using Egil.RazorComponents.Bootstrap.Components.Html
@using Egil.RazorComponents.Bootstrap.Components.Badges
@using Egil.RazorComponents.Bootstrap.Components.Accessibility
@using Egil.RazorComponents.Bootstrap.Components.Breadcrumbs

<style type="text/css"></style>

<Breadcrumb>
    <a href="/">Home</a>
</Breadcrumb>

<Breadcrumb Separator=">>>">
    <a href="/home">Home</a>
    <a href="/">Library</a>
</Breadcrumb>

<Breadcrumb Separator="url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+)">
    <a href="/home">Home</a>
    <a href="/home/library">Library</a>
    <a href="/">Data</a>
</Breadcrumb>

<Breadcrumb Separator="">
    <a href="/home">Home</a>
    <a href="/home/library">Library</a>
    <a href="/">Data</a>
</Breadcrumb>

<hr />

<a href="www.egilhansen.com" title="ASDASDASD">asfdasdf</a>

<hr />

<h1>Example heading <Badge style="font-size: 4rem;" Color="primary">New</Badge></h1>
<h2>Example heading <Badge PillShaped="true" Color="secondary">New</Badge></h2>
<h3>Example heading <Badge Href=" " Color="warning">New</Badge></h3>
<h4>Example heading <Badge Href="#" Color="dark">New</Badge></h4>
<h5>Example heading <Badge PillShaped="true" Href="https://egilhansen.com" Color="danger">New</Badge></h5>
<h6>Example heading <Badge Color="secondary">New</Badge></h6>

<hr />

<button type="button" class="btn btn-primary">
    Notifications <Badge Color="light">4</Badge>
</button>

<hr />

<button type="button" class="btn btn-primary">
    Profile <Badge Color="light">8</Badge>
    <SrOnly>unread messages</SrOnly>
</button>

<hr />

<Badge Color="primary">Primary</Badge>
<Badge Color="secondary">Secondary</Badge>
<Badge Color="success">Success</Badge>
<Badge Color="danger">Danger</Badge>
<Badge Color="warning">Warning</Badge>
<Badge Color="info">Info</Badge>
<Badge Color="light">Light</Badge>
<Badge Color="dark">Dark</Badge>

<hr />

<Badge PillShaped="true" Color="primary">Primary</Badge>
<Badge PillShaped="true" Color="secondary">Secondary</Badge>
<Badge PillShaped="true" Color="success">Success</Badge>
<Badge PillShaped="true" Color="danger">Danger</Badge>
<Badge PillShaped="true" Color="warning">Warning</Badge>
<Badge PillShaped="true" Color="info">Info</Badge>
<Badge PillShaped="true" Color="light">Light</Badge>
<Badge PillShaped="true" Color="dark">Dark</Badge>

<hr />

<Badge href="#" Color="primary">Primary</Badge>
<Badge href="#" Color="secondary">Secondary</Badge>
<Badge href="#" Color="success">Success</Badge>
<Badge href="#" Color="danger">Danger</Badge>
<Badge href="#" Color="warning">Warning</Badge>
<Badge href="#" Color="info">Info</Badge>
<Badge href="#" Color="light">Light</Badge>
<Badge href="#" Color="dark">Dark</Badge>