@page "/test"
@functions {
    protected override void OnAfterRender()
    {
        Console.WriteLine($"Parent: OnAfterRender");
        base.OnAfterRender();
    }

    private void ToggleFirst()
    {
        Console.WriteLine("Parent: ToggleFirst clicked!");
        FirstChildVisible = !FirstChildVisible;
    }

    private bool FirstChildVisible { get; set; } = true;
}
<button class="btn btn-primary" onclick=@ToggleFirst>Toggle first</button>
<hr />
<Child id="c1" Visible=@FirstChildVisible />
<Child id="c2" />