<Group aria-label="Basic example">
    <Button Color="secondary">Left</Button>
    <Button Color="secondary">Middle</Button>
    <Button Color="secondary">Right</Button>
</Group>
<Group Color="primary" aria-label="Basic example">
    <Button>Left</Button>
    <Button Color="danger">Middle</Button>
    <Button>Right</Button>
</Group>