<Group aria-label="Basic example">
    <button Color="secondary">Left</button>
    <button Color="secondary">Middle</button>
    <button Color="secondary">Right</button>
</Group>
<Group Color="primary" aria-label="Basic example">
    <button>Left</button>
    <button Color="danger">Middle</button>
    <button>Right</button>
</Group>