<Group Color="secondary" aria-label="Group with dropdown">
    <button>Left</button>
    <button>Middle</button>
    <Dropdown Text="Dropdown">
        <menu>
            <a>First option</a>
            <a>Second option</a>
        </menu>
    </Dropdown>
</Group>
<Group Color="success" aria-label="Group with split-dropdown">
    <button>Left</button>
    <button>Middle</button>
    <Dropdown Text="Dropdown" Split>
        <menu>
            <a>First option</a>
            <a>Second option</a>
        </menu>
    </Dropdown>
</Group>