<Group Color="secondary" aria-label="Group with dropdown">
    <Button>Left</Button>
    <Button>Middle</Button>
    <Dropdown Text="Dropdown">
        <Menu>
            <A>First option</A>
            <A>Second option</A>
        </Menu>
    </Dropdown>
</Group>
<Group Color="success" aria-label="Group with split-dropdown">
    <Button>Left</Button>
    <Button>Middle</Button>
    <Dropdown Text="Dropdown" Split>
        <Menu>
            <A>First option</A>
            <A>Second option</A>
        </Menu>
    </Dropdown>
</Group>