<Group Orientation="vertical" Color="secondary" aria-label="Vertical example">
    <Button>Button 1</Button>
    <Button>Button 2</Button>
    <Button>Button 3</Button>
    <Button>Button 4</Button>
</Group>

<Group Orientation="vertical" Color="info" aria-label="Vertical example with dropdown">
    <Button>Button 1</Button>
    <Button>Button 2</Button>
    <Dropdown Text="Dropdown button">
        <Menu>
            <A>First option</A>
            <A>Second option</A>
        </Menu>
    </Dropdown>
    <Button>Button 3</Button>
</Group>