<Group Size="lg" Color="secondary" aria-label="Large button group">
    <Button>Left</Button>
    <Button>Middle</Button>
    <Button>Right</Button>
</Group>
<Group Color="secondary" aria-label="Standard sized group">
    <Button>Left</Button>
    <Button>Middle</Button>
    <Button>Right</Button>
</Group>
<Group Size="sm" Color="secondary" aria-label="Small button group">
    <Button>Left</Button>
    <Button>Middle</Button>
    <Button>Right</Button>
</Group>