<Group Size="lg" Color="secondary" aria-label="Large button group">
    <button>Left</button>
    <button>Middle</button>
    <button>Right</button>
</Group>
<Group Color="secondary" aria-label="Standard sized group">
    <button>Left</button>
    <button>Middle</button>
    <button>Right</button>
</Group>
<Group Size="sm" Color="secondary" aria-label="Small button group">
    <button>Left</button>
    <button>Middle</button>
    <button>Right</button>
</Group>