<Toolbar Color="secondary" aria-label="Toolbar with button groups" Margin="bottom-3">
    <Group aria-label="First group" Margin="right-2">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
    </Group>
    <Group aria-label="Second group" Margin="right-2">
        <button>5</button>
        <button>6</button>
        <button>7</button>
    </Group>
    <Group aria-label="Third group">
        <button>8</button>
    </Group>
</Toolbar>