<Toolbar Color="secondary" Size="lg" aria-label="Toolbar with large buttons" Margin="bottom-3">
    <Group aria-label="First group" Margin="right-2">
        <button>1</button>
        <button>2</button>
    </Group>
    <Group aria-label="Second group">
        <button>3</button>
    </Group>
</Toolbar>
<Toolbar Color="info" Size="sm" aria-label="Toolbar with small buttons" Margin="bottom-3">
    <Group aria-label="First group" Margin="right-2">
        <button>1</button>
        <button>2</button>
    </Group>
    <Group aria-label="Second group">
        <button>3</button>
    </Group>
</Toolbar>