<Toolbar Color="secondary" aria-label="Toolbar with button groups" Margin="bottom-3">
    <Group aria-label="First group" Margin="right-2">
        <Button>1</Button>
        <Button>2</Button>
        <Button>3</Button>
        <Button>4</Button>
    </Group>
    @* TODO: Add input group support when its ready
        <Group aria-label="Second group" Margin="right-2">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">@</div>
        </div>
        <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
    </Group>*@
</Toolbar>
<Toolbar Color="secondary" aria-label="Toolbar with button groups" Class="justify-content-between">
    <Group aria-label="First group">
        <Button>1</Button>
        <Button>2</Button>
        <Button>3</Button>
        <Button>4</Button>
    </Group>
    @*<div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon2">@</div>
        </div>
        <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
    </div>*@
</Toolbar>