@*TODO: Update when text options are done*@
<Deck>
    <Card Color="primary" class="text-white">
        <header>Header</header>
        <content>
            <h5>Primary card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card Color="secondary" class="text-white">
        <header>Header</header>
        <content>
            <h5>Secondary title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card Color="success" class="text-white">
        <header>Header</header>
        <content>
            <h5>Success card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card Color="danger" class="text-white">
        <header>Header</header>
        <content>
            <h5>Danger card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card Color="warning" class="text-white">
        <header>Header</header>
        <content>
            <h5>Warning card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card Color="info" class="text-white">
        <header>Header</header>
        <content>
            <h5>Info card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card Color="light">
        <header>Header</header>
        <content>
            <h5>Light card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card Color="dark" class="text-white">
        <header>Header</header>
        <content>
            <h5>Dark card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
</Deck>