@*TODO: Update when text options are done*@
<Deck>
    <Card Color="primary" class="text-white">
        <Header>Header</Header>
        <Content>
            <H5>Primary card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card Color="secondary" class="text-white">
        <Header>Header</Header>
        <Content>
            <H5>Secondary title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card Color="success" class="text-white">
        <Header>Header</Header>
        <Content>
            <H5>Success card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card Color="danger" class="text-white">
        <Header>Header</Header>
        <Content>
            <H5>Danger card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card Color="warning" class="text-white">
        <Header>Header</Header>
        <Content>
            <H5>Warning card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card Color="info" class="text-white">
        <Header>Header</Header>
        <Content>
            <H5>Info card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card Color="light">
        <Header>Header</Header>
        <Content>
            <H5>Light card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card Color="dark" class="text-white">
        <Header>Header</Header>
        <Content>
            <H5>Dark card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
</Deck>