<Card style="width: 18rem;">
    <Img src="https://picsum.photos/300/200?grayscale&random=1" width="300" height="200" alt="Image provide by Lorem Picsum" />
    <Content>
        <H5>Card title</H5>
        <P>Some quick example text to build on the card title 
        and make up the bulk of the card's content.</P>
        <A href="#" Color="primary" AsButton>Go somewhere</A>
    </Content>
</Card>