<Card style="width: 18rem;">
    <img src="https://picsum.photos/300/200?grayscale" width="300" height="200" alt="Image provide by Lorem Picsum" />
    <content>
        <h5>Card title</h5>
        <p>Some quick example text to build on the card title 
        and make up the bulk of the card's content.</p>
        <a href="#" Color="primary" AsButton>Go somewhere</a>
    </content>
</Card>