@*TODO: Update when text/border options are done*@
<Deck>
    <Card class="border-primary">
        <Header>Header</Header>
        <Content class="text-primary">
            <H5>Primary title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card class="border-secondary">
        <Header>Header</Header>
        <Content class="text-secondary">
            <H5>Secondary card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card class="border-success">
        <Header>Header</Header>
        <Content class="text-success">
            <H5>Success card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card class="border-danger">
        <Header>Header</Header>
        <Content class="text-danger">
            <H5>Danger card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card class="border-warning">
        <Header>Header</Header>
        <Content class="text-warning">
            <H5>Warning card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card class="border-info">
        <Header>Header</Header>
        <Content class="text-info">
            <H5>Info card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card class="border-light">
        <Header>Header</Header>
        <Content>
            <H5>Light card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
    <Card class="border-dark">
        <Header>Header</Header>
        <Content class="text-dark">
            <H5>Dark card title</H5>
            <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        </Content>
    </Card>
</Deck>