@*TODO: Update when text/border options are done*@
<Deck>
    <Card class="border-primary">
        <header>Header</header>
        <content class="text-primary">
            <h5>Primary title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card class="border-secondary">
        <header>Header</header>
        <content class="text-secondary">
            <h5>Secondary card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card class="border-success">
        <header>Header</header>
        <content class="text-success">
            <h5>Success card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card class="border-danger">
        <header>Header</header>
        <content class="text-danger">
            <h5>Danger card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card class="border-warning">
        <header>Header</header>
        <content class="text-warning">
            <h5>Warning card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card class="border-info">
        <header>Header</header>
        <content class="text-info">
            <h5>Info card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card class="border-light">
        <header>Header</header>
        <content>
            <h5>Light card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
    <Card class="border-dark">
        <header>Header</header>
        <content class="text-dark">
            <h5>Dark card title</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </content>
    </Card>
</Deck>