<Columns>
    <Card>
        <Img src="https://picsum.photos/300/200?grayscale&random=1" width="300" height="200" alt="Image provide by Lorem Picsum" />
        <Content>
            <H5>Card title that wraps to a new line</H5>
            <P>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</P>
        </Content>
    </Card>

    <Card Padding="3">
        <Blockquote class="blockquote mb-0 card-body">
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</P>
            <Footer class="blockquote-footer">
                <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </Footer>
        </Blockquote>
    </Card>

    <Card>
        <Img src="https://picsum.photos/300/200?grayscale&random=2" width="300" height="200" alt="Image provide by Lorem Picsum" />
        <Content>
            <H5>Card title</H5>
            <P>This card has supporting text below as a natural lead-in to additional content.</P>
            <P><small class="text-muted">Last updated 3 mins ago</small></P>
        </Content>
    </Card>

    <Card Color="primary" Padding="3" class="text-white text-center">
        <Blockquote class="blockquote mb-0">
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</P>
            <Footer class="blockquote-footer text-white">
                <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </Footer>
        </Blockquote>
    </Card>

    <Card class="text-center">
        <Content>
            <H5>Card title</H5>
            <P>This card has a regular title and short paragraphy of text below it.</P>
            <P><small class="text-muted">Last updated 3 mins ago</small></P>
        </Content>
    </Card>

    <Card>
        <Img src="https://picsum.photos/300/200?grayscale&random=3" width="300" height="200" alt="Image provide by Lorem Picsum" />
    </Card>

    <Card Padding="3" class="text-right">
        <Blockquote class="blockquote mb-0">
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</P>
            <Footer class="blockquote-footer">
                <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </Footer>
        </Blockquote>
    </Card>

    <Card>
        <Content>
            <H5>Card title</H5>
            <P>This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</P>
            <P><small class="text-muted">Last updated 3 mins ago</small></P>
        </Content>
    </Card>
</Columns>