<Columns>
    <Card>
        <img src="https://picsum.photos/300/200?grayscale" width="300" height="200" alt="Image provide by Lorem Picsum" />
        <content>
            <h5>Card title that wraps to a new line</h5>
            <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </content>
    </Card>

    <Card Padding="3">
        <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </Card>

    <Card>
        <img src="https://picsum.photos/300/200?grayscale" width="300" height="200" alt="Image provide by Lorem Picsum" />
        <content>
            <h5>Card title</h5>
            <p>This card has supporting text below as a natural lead-in to additional content.</p>
            <p><small class="text-muted">Last updated 3 mins ago</small></p>
        </content>
    </Card>

    <Card Color="primary" Padding="3" class="text-white text-center">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer text-white">
                <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </Card>

    <Card class="text-center">
        <content>
            <h5>Card title</h5>
            <p>This card has a regular title and short paragraphy of text below it.</p>
            <p><small class="text-muted">Last updated 3 mins ago</small></p>
        </content>
    </Card>

    <Card>
        <img src="https://picsum.photos/300/200?grayscale" width="300" height="200" alt="Image provide by Lorem Picsum" />
    </Card>

    <Card Padding="3" class="text-right">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </Card>

    <Card>
        <content>
            <h5>Card title</h5>
            <p>This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
            <p><small class="text-muted">Last updated 3 mins ago</small></p>
        </content>
    </Card>
</Columns>