<Group>
    <Card>
        <img src="https://picsum.photos/400/300?grayscale" alt="Image provide by Lorem Picsum" />
        <content>
            <h5>Card title</h5>
            <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p><small class="text-muted">Last updated 3 mins ago</small></p>
        </content>
    </Card>
    <Card>
        <img src="https://picsum.photos/400/300?grayscale" alt="Image provide by Lorem Picsum" />
        <content>
            <h5>Card title</h5>
            <p>This card has supporting text below as a natural lead-in to additional content.</p>
            <p><small class="text-muted">Last updated 5 mins ago</small></p>
        </content>
    </Card>
    <Card>
        <img src="https://picsum.photos/400/300?grayscale" alt="Image provide by Lorem Picsum" />
        <content>
            <h5>Card title</h5>
            <p>This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p><small class="text-muted">Last updated 10 mins ago</small></p>
        </content>
    </Card>
</Group>