<Group>
    <Card>
        <Img src="https://picsum.photos/400/300?grayscale&random=1" alt="Image provide by Lorem Picsum" />
        <Content>
            <H5>Card title</H5>
            <P>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</P>
        </Content>
        <Footer><small class="text-muted">Last updated 3 mins ago</small></Footer>
    </Card>
    <Card>
        <Img src="https://picsum.photos/400/300?grayscale&random=2" alt="Image provide by Lorem Picsum" />
        <Content>
            <H5>Card title</H5>
            <P>This card has supporting text below as a natural lead-in to additional content.</P>
        </Content>
        <Footer><small class="text-muted">Last updated 5 mins ago</small></Footer>
    </Card>
    <Card>
        <Img src="https://picsum.photos/400/300?grayscale&random=3" alt="Image provide by Lorem Picsum" />
        <Content>
            <H5>Card title</H5>
            <P>This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</P>
        </Content>
        <Footer><small class="text-muted">Last updated 10 mins ago</small></Footer>
    </Card>
</Group>