<Card style="max-width: 540px;">
    <Row NoGutters>
        <Column Span="md-4">
            <Img src="https://picsum.photos/200/400?grayscale" alt="Image provide by Lorem Picsum" />
        </Column>
        <Column Span="md-8">
            <Content>
                <H5>Card title</H5>
                <P>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</P>
                <P><small class="text-muted">Last updated 3 mins ago</small></P>
            </Content>
        </Column>
    </Row>
</Card>