<Card style="max-width: 540px;">
    <Row NoGutters>
        <Column Span="md-4">
            <img src="https://picsum.photos/200/400?grayscale" alt="Image provide by Lorem Picsum" />
        </Column>
        <Column Span="md-8">
            <content>
                <h5>Card title</h5>
                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p><small class="text-muted">Last updated 3 mins ago</small></p>
            </content>
        </Column>
    </Row>
</Card>