<Card style="width: 18rem; display: inline-flex" Margin="right-3">
    <img src="https://picsum.photos/300/200?grayscale" width="300" height="200" alt="Image provide by Lorem Picsum" />
    <content>
        <h5>Card title</h5>
        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p><small class="text-muted">Last updated 3 mins ago</small></p>
    </content>
</Card>
<Card style="width: 18rem; display: inline-flex;">
    <svg width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#868e96" />
        <text x="50%" y="50%" fill="#dee2e6" dominant-baseline="middle" text-anchor="middle">SVG image</text>
    </svg>
    <content>
        <h5>Card title</h5>
        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p><small class="text-muted">Last updated 3 mins ago</small></p>
    </content>
</Card>