<Card ImageOverlayed="true" width="25" class="text-white">
    <img src="https://picsum.photos/id/1004/400/300?grayscale" alt="Image provide by Lorem Picsum" />
    <content>
        <h5>Card title</h5>
        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p><small class="text-muted">Last updated 3 mins ago</small></p>
    </content>
</Card>
