<Card style="width: 18rem;">
    <img src="https://picsum.photos/300/200?grayscale" width="300" height="200" alt="Image provide by Lorem Picsum" />
    <content>
        <h5>Card title</h5>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" Color="primary" AsButton>Go somewhere</a>
    </content>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <content>
        <a href="#">Card link</a>
        <a href="#">Another link</a>
    </content>
</Card>