@*TODO: Replace with list group when implemented*@
<Card style="width: 18rem;">
    <Header>Featured</Header>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</Card>