<Card class="border-success" Width="25">
    <Header class="bg-transparent border-success">Header</Header>
    <Content class="text-success">
        <H5>Success card title</H5>
        <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
    </Content>
    <Footer class="bg-transparent border-success">Footer</Footer>
</Card>