<Card class="text-center">
    <header>
        @*TODO: Update when NAV is done*@
        <ul class="nav nav-pulls card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </header>
    <content>
        <h5>Special title treatment</h5>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" Color="primary" AsButton>Go somewhere</a>
    </content>
</Card>