<Card class="text-center">
    <Header>
        @*TODO: Update when NAV is done*@
        <ul class="nav nav-pulls card-header-pills">
            <li class="nav-item">
                <A class="nav-link active" href="#">Active</A>
            </li>
            <li class="nav-item">
                <A class="nav-link" href="#">Link</A>
            </li>
            <li class="nav-item">
                <A class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</A>
            </li>
        </ul>
    </Header>
    <Content>
        <H5>Special title treatment</H5>
        <P>With supporting text below as a natural lead-in to additional content.</P>
        <A href="#" Color="primary" AsButton>Go somewhere</A>
    </Content>
</Card>