<Card>
    <Content>
        <H5>Card title</H5>
        <H6 class="text-muted" Margin="bottom-2">Card subtitle</H6>
        <P>Some quick example text to build on the card title and make up the bulk of the card's content.</P>
        <A href="#">Card link</A>
        <A href="#">Another link</A>
    </Content>
</Card>