<Card>
    <content>
        <h5>Card title</h5>
        <h6 class="text-muted" Margin="bottom-2">Card subtitle</h6>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Card link</a>
        <a href="#">Another link</a>
    </content>
</Card>