<Card width="25">
    <header>Special title treatment</header>
    <content>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" Color="primary" AsButton>Go somewhere</a>
    </content>
</Card>

<Card class="text-center" width="25">
    <header>Special title treatment</header>
    <content>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" Color="primary" AsButton>Go somewhere</a>
    </content>
</Card>

<Card class="text-right" width="25">
    <header>Special title treatment</header>
    <content>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" Color="primary" AsButton>Go somewhere</a>
    </content>
</Card>