<Card Width="75">
    <content>
        <h5>Card title - width 75%</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </content>
</Card>
<Card Width="50">
    <content>
        <h5>Card title - width 50%</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </content>
</Card>
<Card Width="25">
    <content>
        <h5>Card title - width 25%</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </content>
</Card>   