<Breadcrumb>
    <A href="#">Home</A>
</Breadcrumb>

<Breadcrumb>
    <A href="#">Home</A>
    <A href="#">Library</A>
</Breadcrumb>

<Breadcrumb>
    <A href="#">Home</A>
    <A href="#">Library</A>
    <A href="#">Data</A>
</Breadcrumb>