<Breadcrumb>
    <a href="#">Home</a>
</Breadcrumb>

<Breadcrumb>
    <a href="#">Home</a>
    <a href="#">Library</a>
</Breadcrumb>

<Breadcrumb>
    <a href="#">Home</a>
    <a href="#">Library</a>
    <a href="#">Data</a>
</Breadcrumb>