# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- documentation

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreInstaller@0
  displayName: 'Installing .NET Core SDK...'
  inputs:
    version: 3.0.100-preview5-011568

- script: dotnet build --configuration $(buildConfiguration) src/Egil.RazorComponents.Bootstrap.Documentation/Egil.RazorComponents.Bootstrap.Documentation.csproj
  displayName: 'dotnet build $(buildConfiguration) DocsApp'

- task: DotNetCoreCLI@2
  displayName: 'Publishing App...'
  inputs:
    command: publish
    publishWebProjects: true
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory) src/Egil.RazorComponents.Bootstrap.Documentation/Egil.RazorComponents.Bootstrap.Documentation.csproj'
    zipAfterPublish: false

- task: PublishBuildArtifacts@1
  displayName: 'Publishing Build Artifacts...'        