<Alert Color="primary">
    <H1>Well done!</H1>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr/>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</Alert>
<Alert Color="secondary">
    <H2>Well done!</H2>
</Alert>
<Alert Color="success">
    <H3>Well done!</H3>
</Alert>
<Alert Color="danger">
    <H4>Well done!</H4>
</Alert>
<Alert Color="warning">
    <H5>Well done!</H5>
</Alert>
<Alert Color="info">
    <H6>Well done!</H6>
</Alert>