<Alert Color="primary">
    A simple primary alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="secondary">
    A simple secondary alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="success">
    A simple success alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="danger">
    A simple danger alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="warning">
    A simple warning alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="info">
    A simple info alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="light">
    A simple light alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>
<Alert Color="dark">
    A simple dark alert with <a href="#">an example link</a>. Give it a click if you like.
</Alert>