@page "/"

<h1 id="content">
    Boostrap.NET<br />
    <small class="text-muted">Boostrap Razor Components for client and server-side Blazor</small>
</h1>
<p class="lead">
    Bootstrap.NET is a strongly typed version of Bootstrap implemented in Razor Components, with a nice Bootstrap-like syntax for specifying options on components. On top of that, you get compile-time errors if you try to assign invalid options to components.
</p>

<h2>Alternatives</h2>
<p>Want something else, or just want to compare Bootstrap.NET to the "competition"? Here are some alternatives you an check out:</p>
<ul>
    <li><a href="https://blazorise.com/">Blazorise</a></li>
    <li><a href="https://chanan.github.io/BlazorStrap/">BlazorStrap</a></li>
</ul>