@using Egil.BlazorComponents.Bootstrap.Grid.Parameters

<div class="@(Type.Single())">
    @ChildContent
</div>

@functions {
    [Parameter]
    ContainerTypeParameter Type { get; set; } = ContainerTypeParameter.Default;

    [Parameter]
    RenderFragment ChildContent { get; set; }
}