@page "/"

<div class="row">
    <div class="col-3 col-md-6 col-xl-auto"></div>
</div>

<Container AdditionalCssClasses="some-additional-class">
    <Row Margin="4" Padding="5"></Row>
    <Row Margin="bottom-4" Padding="top-5"></Row>
    <Row Margin="md-3" Padding="xl-5"></Row>
    <Row Margin="right-md-3" Padding="horizontal-xl-5"></Row>
    <Row Margin="auto" Padding="5"></Row>
    <Row Margin="auto" Padding="auto"></Row>
    <Row Margin="1 | md-3 | lg-5" Padding="2 | md-3"></Row>

    <Row VerticalAlign="md-center"></Row>
    <Row VerticalAlign="end">
        <Column Order="4"></Column>
        <Column Order="last"></Column>
        <Column Order="first"></Column>
        <Column Order="sm-4"></Column>
        <Column Span="md"></Column>
        <Column Span="md-5"></Column>
        <Column Span="auto"></Column>
        <Column Span="lg-auto"></Column>
        <Column Span="3 | md-6 | xl-auto"></Column>
        <Column Offset="4"></Column>
        <Column Offset="md-4"></Column>
        <Column Offset="2 | md-4 | xl-8"></Column>
    </Row>

    <p class="md-4">
        MY P TAG WITH md-4 as text!
    </p>

    <Row Align="start"></Row>
    <Row Align="center"></Row>
    <Row Align="end | md-end"></Row>
    <Row Align="md-between"></Row>
    <Row Align="around"></Row>
</Container>

<Container Type="fluid" AdditionalCssClasses="bla blum">
    <Row>
        <Column Span="2 | lg-8" Margin="2">SIDEBAR!</Column>
        <Column Span="8 | lg-4">
            <h1>Hello, world!</h1>
            Welcome to your new app.
        </Column>
    </Row>
</Container>
