@page "/"

<Container Type="fluid" AdditionalCssClasses="bla blum">
    <Row>
        <Column Span="2 | lg-8" Margin="2">SIDEBAR!</Column>
        <Column Span="8 | lg-4">
            <h1>Hello, world!</h1>
            Welcome to your new app.
        </Column>
    </Row>
</Container>
