@using Egil.RazorComponents.Bootstrap;
@using Egil.RazorComponents.Bootstrap.Parameters;
@using Egil.RazorComponents.Bootstrap.Components.Html;
@using Microsoft.AspNetCore.Components.RenderTree;
@using Egil.RazorComponents.Bootstrap.Helpers;

@inherits BootstrapParentComponentBase

@code {
    private string? SeparatorOverrideCss { get; set; }
    private CssClassValueProvider? CssScope { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; private set; } // TODO P7: Add to element

    [Parameter]
    public string? Separator { get; set; }

    protected override void OnParametersSet()
    {
        if (Separator is null) return;
        var isSeparatorDataUrl = Separator.StartsWith("url(data:");
        CssScope = new CssClassValueProvider("breadcrumb-" + Guid.NewGuid().ToString());

        SeparatorOverrideCss = string.Concat(
            ".", CssScope.Value,
            " .breadcrumb-item+.breadcrumb-item::before{content:",
            isSeparatorDataUrl ? "" : "\"",
            Separator,
            isSeparatorDataUrl ? "" : "\"",
            ";}");
    }

    protected override void RegisterChildContextRules()
    {
        ChildContext.RegisterRule<A>(a =>
        {
            a.CustomRenderFragment = BreadcrumpItemRenderFragment;
            a.ActiveClass = null;

            void BreadcrumpItemRenderFragment(RenderTreeBuilder builder)
            {
                builder.OpenElement("li");
                if (a.IsActive)
                {
                    a.DefaultCssClass = "breadcrumb-item active";
                    builder.AddClassAttribute(a.CssClassValue);
                    builder.AddAttribute("aria-current", "page");
                    builder.AddMultipleAttributes(a.AdditionalAttributes);
                    builder.AddContent(a.ChildContent);
                }
                else
                {
                    builder.AddClassAttribute("breadcrumb-item");
                    builder.AddContent(a.DefaultRenderFragment);
                }
                builder.CloseElement();
            }
        });
    }
}
@if (!(SeparatorOverrideCss is null))
{
    <style>@SeparatorOverrideCss</style>
}
<nav class=@CssClassValue aria-label="breadcrumb"><ol class="breadcrumb">@ChildContent</ol></nav>