<Alert Color="primary">
    <h1>Well done!</h1>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr/>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</Alert>
<Alert Color="secondary">
    <h2>Well done!</h2>
</Alert>
<Alert Color="success">
    <h3>Well done!</h3>
</Alert>
<Alert Color="danger">
    <h4>Well done!</h4>
</Alert>
<Alert Color="warning">
    <h5>Well done!</h5>
</Alert>
<Alert Color="info">
    <h6>Well done!</h6>
</Alert>