@using Egil.RazorComponents.Bootstrap.Parameters
@inherits BootstrapComponent

<div class=@CssClassValue>
    @ChildContent
</div>

@functions {
    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    SpanParameter Span { get; set; } = SpanParameter.Default;

    [Parameter]
    OrderParameter Order { get; set; } = OrderParameter.None;

    [Parameter]
    OffsetParameter Offset { get; set; } = OffsetParameter.None;

    [Parameter]
    AlignmentParameter<VerticalColumnAlignment> VerticalAlign { get; set; } = AlignmentParameter<VerticalColumnAlignment>.None;

    [Parameter]
    HorizontalAlignmentParameter Align { get; set; } = HorizontalAlignmentParameter.None;

    [Parameter]
    SpacingParameter<PaddingSpacing> Padding { get; set; } = SpacingParameter<PaddingSpacing>.None;

    [Parameter]
    SpacingParameter<MarginSpacing> Margin { get; set; } = SpacingParameter<MarginSpacing>.None;

    protected override IEnumerable<IParameter> CssClassSources => new IParameter[]{
        Span, Order, Offset, VerticalAlign, Align, Padding, Margin
    };
}