@using Egil.RazorComponents.Bootstrap.Parameters

@inherits BootstrapComponent

<div class=@CssClassValue>
    @ChildContent
</div>

@functions {
    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    NoGuttersParameter NoGutters { get; set; } = NoGuttersParameter.Default;

    [Parameter]
    AlignmentParameter<VerticalRowAlignment> VerticalAlign { get; set; } = AlignmentParameter<VerticalRowAlignment>.None;

    [Parameter]
    SpacingParameter<PaddingSpacing> Padding { get; set; } = SpacingParameter<PaddingSpacing>.None;

    [Parameter]
    SpacingParameter<MarginSpacing> Margin { get; set; } = SpacingParameter<MarginSpacing>.None;

    protected override IEnumerable<string> StaticCssClasses => new[] { "row" };

    protected override IEnumerable<IParameter> CssClassSources => new IParameter[]{
        NoGutters, VerticalAlign, Padding, Margin
    };
}