@using Egil.BlazorComponents.Bootstrap.Grid.Parameters

<div class=@CssClass>
    @ChildContent
</div>

@functions {
    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    SpanParameter Span { get; set; } = SpanParameter.Default;

    [Parameter]
    OrderParameter Order { get; set; } = OrderParameter.None;

    [Parameter]
    OffsetParameter Offset { get; set; } = OffsetParameter.None;

    [Parameter]
    ColAlignmentParameter Align { get; set; } = ColAlignmentParameter.None;


    private string CssClass => string.Join(" ", Enumerable.Concat(Span, Order));
}