@using Egil.BlazorComponents.Bootstrap.Grid.Parameters

<div class=@CssClasses>
    @ChildContent
</div>

@functions {
    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    bool NoGutter { get; set; } = false;

    [Parameter]
    RowAlignmentParameter Align { get; set; } = RowAlignmentParameter.None;

    string CssClasses
    {
        get
        {
            var classes = "row";
            classes = NoGutter ? $"{classes} no-gutters" : classes;

            return classes;
        }
    }

    protected override void OnInit()
    {
        Console.WriteLine(this);
    }
}