@using Egil.BlazorComponents.Bootstrap.Grid.Parameters

<div class=@CssClasses>
    @ChildContent
</div>

@functions {
    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    NoGutterParameter NoGutter { get; set; } = NoGutterParameter.Default;

    [Parameter]
    AlignmentParameter<VerticalRowAlignment> VerticalAlign { get; set; } = AlignmentParameter<VerticalRowAlignment>.None;

    [Parameter]
    SpacingParameter<PaddingSpacing> Padding { get; set; } = SpacingParameter<PaddingSpacing>.None;

    [Parameter]
    SpacingParameter<MarginSpacing> Margin { get; set; } = SpacingParameter<MarginSpacing>.None;

    static readonly string[] DefaultCssClasses = new[] { "row" };

    string CssClasses
    {
        get
        {
            var parameters = new IReadOnlyCollection<string>[] { DefaultCssClasses, NoGutter, VerticalAlign, Padding, Margin }.SelectMany(x => x);
            return string.Join(" ", parameters);
        }
    }

    protected override void OnInit()
    {
        Console.WriteLine(this);
    }
}