@using Egil.BlazorComponents.Bootstrap.Grid.Parameters

<div class=@CssClasses>
    @ChildContent
</div>

@functions {
    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    bool NoGutter { get; set; } = false;

    [Parameter]
    AlignmentParameter<RowAlignment> Align { get; set; } = AlignmentParameter<RowAlignment>.None;

    [Parameter]
    SpacingParameter<PaddingSpacing> Padding { get; set; } = SpacingParameter<PaddingSpacing>.None;

    [Parameter]
    SpacingParameter<MarginSpacing> Margin { get; set; } = SpacingParameter<MarginSpacing>.None;

    string CssClasses
    {
        get
        {
            var classes = "row";
            classes = NoGutter ? $"{classes} no-gutters" : classes;

            return classes;
        }
    }

    protected override void OnInit()
    {
        Console.WriteLine(this);
    }
}