@import url('libs/open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('libs/PrismJS-1.16.0/prism.css');
@import url('examples.css');

.table-of-contents {
}

    .table-of-contents .nav-link {
        color: #343a40;
        font-weight: 600;
        padding-top: 13px;
        padding-bottom: 13px;
    }

        .table-of-contents .nav-link .nav-link {
            display: none;
            padding-left: 0;
            padding-top: 3px;
            padding-bottom: 3px;
            font-weight: 400;
            font-size: 90%;
        }

        .table-of-contents .nav-link.active .nav-link {
            display: block;
        }

        .table-of-contents .nav-link .nav-link.active {
            font-weight: 600;
        }

        .table-of-contents .nav-link .nav-link:hover {
            color: #000;
        }
