@page "/"

<h2>Setting one column width</h2>
<Container>
    <Row>
        <Column>1 of 3</Column>
        <Column Span="6" Order="first">2 of 3 (wider)</Column>
        <Column Order="2">3 of 3</Column>
    </Row>
    <Row>
        <Column>1 of 3</Column>
        <Column Span=5>2 of 3</Column>
        <Column>3 of 3</Column>
    </Row>
</Container>
<h1>Hello, world!</h1>

Welcome to your new app.
