@using a = Egil.RazorComponents.Bootstrap.Components.Html.A

<Fact DisplayName="Alert renders as empty without child content">
    <TestSetup>
        <Alert />
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show" role="alert"></div>
    </ExpectedHtml>
</Fact>

<Fact DisplayName="Alert renders with child content if provided">
    <TestSetup>
        <Alert>FOO BAR BAZ</Alert>
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show" role="alert">FOO BAR BAZ</div>
    </ExpectedHtml>
</Fact>

<Fact DisplayName="Alert adds color when specified">
    <TestSetup>
        <Alert Color="primary" />
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show alert-primary" role="alert"></div>
    </ExpectedHtml>
</Fact>

<Fact DisplayName="Providing a role overrides default role value">
    <TestSetup>
        <Alert Role="banner" />
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show" role="banner"></div>
    </ExpectedHtml>
</Fact>

<Fact DisplayName="Setting Dismisasable to true renderes dismiss button below child content">
    <TestSetup>
        <Alert Dismissable>
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        </Alert>
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show alert-dismissible" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&amp;times;</span>
            </button>
        </div>
    </ExpectedHtml>
</Fact>

<Fact DisplayName="Setting DismissAriaLabel and DismissText overrides defaults">
    <TestSetup>
        <Alert Dismissable="true" DismissAriaLabel="DISMISS LABEL" DismissText="DISMISS TEXT"></Alert>
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show alert-dismissible" role="alert">
            <button type="button" class="close" aria-label="DISMISS LABEL">
                <span aria-hidden="true">DISMISS TEXT</span>
            </button>
        </div>
    </ExpectedHtml>
</Fact>

<Fact DisplayName="Nested A components have their DefaultCssClass set to alert-link">
    <TestSetup>
        <Alert><Egil.RazorComponents.Bootstrap.Components.Html.A>link</Egil.RazorComponents.Bootstrap.Components.Html.A></Alert>
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show" role="alert">
            <a class="alert-link">link</a>
        </div>
    </ExpectedHtml>
</Fact>

<Fact DisplayName="Nested A components have their DefaultCssClass set to alert-link">
    <TestSetup>
        <Alert><Egil.RazorComponents.Bootstrap.Components.Html.H1>heading</Egil.RazorComponents.Bootstrap.Components.Html.H1></Alert>
    </TestSetup>
    <ExpectedHtml>
        <div class="alert fade show" role="alert">
            <h1 class="alert-heading">heading</h1>
        </div>
    </ExpectedHtml>
</Fact>

TODO: Add tests for event handling, State, Dismiss(), and Show()
