@page  "/docs/4.3/components/badges"
<DocHead Title="Badges" RelatedBootstrapDoc="4.3/components/badges/">
    Documentation and examples for badges, our small count and labeling component.
</DocHead>

<h2 id="example">Example</h2>
<p>Badges scale to match the size of the immediate parent element by using relative font sizing and <code class="highlighter-rouge">em</code> units.</p>

<Example File=@typeof(BadgesExample1) />

<p>Badges can be used as part of links or buttons to provide a counter.</p>

<Example File=@typeof(BadgesInButton) />

<p>Note that depending on how they are used, badges may be confusing for users of screen readers and similar assistive technologies. While the styling of badges provides a visual cue as to their purpose, these users will simply be presented with the content of the badge. Depending on the specific situation, these badges may seem like random additional words or numbers at the end of a sentence, link, or button.</p>

<p>Unless the context is clear (as with the “Notifications” example, where it is understood that the “4” is the number of notifications), consider including additional context with a visually hidden piece of additional text.</p>

<Example File=@typeof(BadgesInButtonsWithSr) />

<h2 id="contextual-variations">Contextual variations</h2>

<p>Add any of the below mentioned modifier classes to change the appearance of a badge.</p>

<Example File=@typeof(BadgesContextual) />

<AssistiveTechCallout />

<h2 id="pill-badges">Pill badges</h2>

<p>Use the <code class="highlighter-rouge">PillShaped="true"</code> parameter to make badges more rounded (with a larger <code class="highlighter-rouge">border-radius</code> and additional horizontal <code class="highlighter-rouge">padding</code>). Useful if you miss the badges from Bootstrap v3.</p>

<Example File=@typeof(BadgesPills) />

<h2 id="links">Links</h2>

<p>Badges can be used as links. Simple add a <code>href</code> attribute and the badge will be rendered as a link. All attributes and parameters available to a regular <code>&lt;a&gt;</code> component is available.</p>

<Example File=@typeof(BadgesLinks) />


