@page  "/docs/4.3/components/breadcrumbs"
@using Egil.RazorComponents.Bootstrap.Documentation.Pages.Docs.v4_3.Components.Examples.Breadcrumbs

<DocHead Title="Breadcrumbs" RelatedBootstrapDoc="4.3/components/breadcrumbs/">
    Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.
</DocHead>

<h2 id="example">Example</h2>
<p>Breadcumbs navigational hierarchies are easy to create with Bootstrap.NET. Just place any <code>&lt;a&gt;</code> components inside a <code>&lt;Breadcrumbs&gt;</code> component and the<code>&lt;a&gt;</code> components will be rendered correctly. </p>
<p>The only requirements is that you import the overrides to the standard HTML components in Bootstrap.NET with <code class="highlighter-rouge">&#64;using Egil.RazorComponents.Bootstrap.Components.Html</code>.</p>

<Example File=@typeof(BreadcrumbsExample1) />

<h2 id="automatic-active-link-detection">Automatic active link detection</h2>
<p>The breadcrumb that points to the current page, will automatically be rendered without the <code>&lt;a&gt;</code> component, and have the approrpiate AIRA <code>aria-current="page"</code> attribute added.</p>

<Example File=@typeof(BreadcrumbsActiveLink) />

<h2 id="changing-the-separator">Changing the separator</h2>
<p>To change the default separator or completely remove it, use the parameters <code>Separator</code>.</p>
<p>The following example shows three ways to override, one using a string/character, one with an base64 embedded SVG icon, and one where the separator is removed entirely.</p>

<Example File=@typeof(BreadcrumbsSeparatorOverride) />

<h2 id="accessibility">Accessibility</h2>

<p>Since breadcrumbs provide a navigation, it’s a good idea to add a meaningful label such as <code class="highlighter-rouge">aria-label="breadcrumb"</code> to describe the type of navigation provided in the <code class="highlighter-rouge">&lt;nav&gt;</code> element, as well as applying an <code class="highlighter-rouge">aria-current="page"</code> to the last item of the set to indicate that it represents the current page.</p>
<p><strong>This is automatically done by the <code>&lt;Breadcrumbs&gt;</code> component.</strong></p>

<p>For more information, see the <a href="https://www.w3.org/TR/wai-aria-practices/#breadcrumb">WAI-ARIA Authoring Practices for the breadcrumb pattern</a>.</p>
