@using Egil.RazorComponents.Bootstrap.Parameters
@inherits BootstrapComponent

<div class=@CssClassValue>
    @ChildContent
</div>

@functions {    
    [Parameter]
    RenderFragment ChildContent { get; set; }
    
    [Parameter]
    ContainerTypeParameter Type { get; set; } = ContainerTypeParameter.Default;

    [Parameter]
    SpacingParameter<PaddingSpacing> Padding { get; set; } = SpacingParameter<PaddingSpacing>.None;

    [Parameter]
    SpacingParameter<MarginSpacing> Margin { get; set; } = SpacingParameter<MarginSpacing>.None;
    
    protected override IEnumerable<IParameter> CssClassSources => new IParameter[]{
        Type, Padding, Margin
    };
}