@inject IUriHelper UriHelper
<Button Color="success" Active="true">An active button</Button>
<A href="#" class="active" Color="primary" AsButton="true">
    Primary link (manually set to active)
</A>
<A href=@UriHelper.GetAbsoluteUri() Color="secondary" AsButton="true">
    Link (automatically set to active due to matching URL)
</A>