<a Color="primary" href="#" AsButton>Link</a>
<button Color="primary" type="submit">Button</button>
<input Color="primary" type="button" value="Input">
<input Color="primary" type="submit" value="Submit">
<input Color="primary" type="reset" value="Reset">