<button Color="primary">Primary</button>
<button Color="secondary">Secondary</button>
<button Color="success">Success</button>
<button Color="danger">Danger</button>
<button Color="warning">Warning</button>
<button Color="info">Info</button>
<button Color="light">Light</button>
<button Color="dark">Dark</button>
<button AsLink>Link</button>