<Button Color="primary">Primary</Button>
<Button Color="secondary">Secondary</Button>
<Button Color="success">Success</Button>
<Button Color="danger">Danger</Button>
<Button Color="warning">Warning</Button>
<Button Color="info">Info</Button>
<Button Color="light">Light</Button>
<Button Color="dark">Dark</Button>
<Button AsLink>Link</Button>