<button Outlined Color="primary">Primary</button>
<button Outlined Color="secondary">Secondary</button>
<button Outlined Color="success">Success</button>
<button Outlined Color="danger">Danger</button>
<button Outlined Color="warning">Warning</button>
<button Outlined Color="info">Info</button>
<button Outlined Color="light">Light</button>
<button Outlined Color="dark">Dark</button>