<Button Outlined Color="primary">Primary</Button>
<Button Outlined Color="secondary">Secondary</Button>
<Button Outlined Color="success">Success</Button>
<Button Outlined Color="danger">Danger</Button>
<Button Outlined Color="warning">Warning</Button>
<Button Outlined Color="info">Info</Button>
<Button Outlined Color="light">Light</Button>
<Button Outlined Color="dark">Dark</Button>