@page "/docs/4.3/getting-started/introduction"

<h1 id="content">Introduction</h1>
<h2>Setup</h2>

<ol>
    <li>Install the <a href="https://www.nuget.org/packages/Bootstrap.NET/">Bootstrap.NET nuget package</a> in your Blazor-client or Blazor-server-side application.</li>
    <li>
        Add the following to your `_Imports.razor`, e.g. in the root of your application.<br />
        <pre><code>&#64;using Egil.RazorComponents.Bootstrap
&#64;using Egil.RazorComponents.Bootstrap.Layout
&#64;using Egil.RazorComponents.Bootstrap.Components.Html
&#64;using Egil.RazorComponents.Bootstrap.Components.Accessibility
&#64;using Egil.RazorComponents.Bootstrap.Components.Alerts
&#64;using Egil.RazorComponents.Bootstrap.Components.Badges
&#64;using Egil.RazorComponents.Bootstrap.Components.Breadcrumbs
&#64;using static Egil.RazorComponents.Bootstrap.Utilities.Colors.OptionsFactory.LowerCase
&#64;using static Egil.RazorComponents.Bootstrap.Options.Factory.LowerCase.Abbr
&#64;using static Egil.RazorComponents.Bootstrap.Options.SpacingOptions.Factory.LowerCase</code></pre>
    </li>
    <li>
        <ul>
            <li>If you are creating a Blazor client application based on the Blazor project template, you can delete the `wwwroot/css/bootstrap/bootstrap.min.css` file, since it is included in BootstrapDotNet.</li>
            <li>If you are creating a Blazor server-side project, then you should leave the file in place, and possible add Bootstrap 4.3's JavaScript files and jQuery, if you are using components that require JavaScript.</li>
        </ul>
    </li>
</ol>