@page "/"

<h1>Grid system</h1>

<h2>Equal-width</h2>
<Container>
    <Row>
        <Column>1 of 2</Column>
        <Column>2 of 2</Column>
    </Row>
    <Row>
        <Column>1 of 3</Column>
        <Column>2 of 3</Column>
        <Column>3 of 3</Column>
    </Row>
</Container>

<h2>Setting one column width</h2>
<Container>
    <Row>
        <Column>1 of 3</Column>
        <Column Span="6" Order="first">2 of 3 (wider)</Column>
        <Column Order="2">3 of 3</Column>
    </Row>
    <Row>
        <Column>1 of 3</Column>
        <Column Span=5>2 of 3</Column>
        <Column>3 of 3</Column>
    </Row>
</Container>

<h2>Mix and match</h2>
<Container>
    <Row>
        <Column Span="12 | md-8 | md-4">.col-12 .col-md-8 .col-lg-4</Column>
        <Column Span="6 | md-4 | md-2">.col-6 .col-md-4 .col-lg-2</Column>
    </Row>
    <Row>
        <Column Span="6 | md-4">.col-6 .col-md-4</Column>
        <Column Span="6 | md-4">.col-6 .col-md-4</Column>
        <Column Span=@(6 | md-4)>.col-6 .col-md-4</Column>
    </Row>
    <Row>
        <Column Span="6">.col-6</Column>
        <Column Span="6">.col-6</Column>
    </Row>
</Container>

<h2>Variable width content</h2>
<Container>
    <Row>
        <Column Span=@(2 | lg-2)>1 of 3</Column>
        <Column Span="md-auto">Variable width content</Column>
        <Column Span=@(2 | lg-2)>3 of 3</Column>
    </Row>
    <Row>
        <Column>1 of 3</Column>
        <Column Span=@(md-auto)>Variable width content</Column>
        <Column Span=@(lg-2)>3 of 3</Column>
    </Row>
</Container>