@page "/"

<Container>
    <div class="bd-example-row">
        <Row>
            <Column Span=@(MD-Auto)>.col-md-auto</Column>
            <Column Span=@Auto>.col-auto</Column>
            <Column Span=3>.col-3</Column>
            <Column Span=@(Default | LG-4)>.col .col-lg-4</Column>
        </Row>
    </div>
    <br />
    <br />
    <div class="bd-example-row">
        <Row>
            <Column>
                1 of 2
            </Column>
            <Column>
                2 of 2
            </Column>
        </Row>
        <Row>
            <Column>
                1 of 3
            </Column>
            <Column>
                2 of 3
            </Column>
            <Column>
                3 of 3
            </Column>
        </Row>
    </div>
</Container>

