@using Egil.RazorComponents.Bootstrap
@using Egil.RazorComponents.Bootstrap.Components.Badges.Parameters;
@using Egil.RazorComponents.Bootstrap.Components.Html;
@using Egil.RazorComponents.Bootstrap.Utilities.Colors;

@inherits BootstrapParentComponentBase

@code {
    [Parameter(CaptureUnmatchedValues = true)] 
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; private set; } // TODO P7: Add to element

    [Parameter]
    public ColorParameter<BadgeColor> Color { get; set; } = OptionsFactory.Primary;

    [Parameter]
    public PillBadgeParameter PillShaped { get; set; } = PillBadgeParameter.None;

    [Parameter]
    public string? Href { get; set; }

    public Badge()
    {
        DefaultCssClass = "badge";
    }
}
@if (string.IsNullOrEmpty(Href))
{
    <span class=@CssClassValue>@ChildContent</span>
}
else
{
    <A href=@Href class=@CssClassValue>@ChildContent</A>
}
