<Container>
    <Row>
        <Column Span="6 | sm-3">
            6 | sm-3
        </Column>
        <Column Span="6 | sm-3">
            6 | sm-3
        </Column>
        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>
        <Column Span="6 | sm-3">
            6 | sm-3
        </Column>
        <Column Span="6 | sm-3">
            6 | sm-3
        </Column>
    </Row>
</Container>