<Container>
    <Row>
        <Column>
            Column
        </Column>
        <Column>
            Column
        </Column>
        <div class="w-100"></div>
        <Column>
            Column
        </Column>
        <Column>
            Column
        </Column>
    </Row>
</Container>